<footer class="footer padding">

  <div class="footer-column">
    &copy; 2015 - {{date format="YYYY"}} <a href="/">Carlos Ortiz</a>.
    <br><br>
    Arquitecto de software, con tecnologías: Java EE, Spring Framework, Docker, MongoDB, Neo4J, Redis, Apache Camel.
    Formador Web y Blogger. Puedes contactarme en mi correo
    <br><br>
    <a class="btn btn-orange small border radius" href="mailto:carlosortizur@gmail.com"><span class="fa fa-envelope"></span> Contacto</a>
    
  </div>

  <div class="footer-column">
    <ul>
      <li><a href="/me">Sobre Mi</a></li>
      <li><a href="/contacto">Contacto</a></li>
	  <!--
      <li><a href="/libros">Libros Publicados</a></li>
      <li><a href="/consult">Consultorias</a></li>
      <li><a href="/formacion">Formación</a></li>
      <li><a href="/blog/politica-de-cookies/">Política de Cookies</a></li>
      <li><a href="/blog/legal">Aviso legal</a></li>
	  -->
    </ul>
  </div>

  <div class="footer-column text center">
    Publicado con <a href="//tryghost.com">Ghost</a>
    <br><br>
    <span class="text-small">El contenido de este blog está publicado con <a href="https://creativecommons.org/licenses/by-sa/4.0/">licencia de Creative Commons Reconocimiento-Compartir igual 4.0 internacional</a></span>
  </div>

</footer>
