<nav class="navbar">
  <div class="navbar-content">
    <div class="blog-info">
      <div class="author title">
        <img src="{{@blog.logo}}" alt="Author image" class="border circle inline" />
        <a class="text bold" href="{{@blog.url}}">Carlos Ortiz Urshela &nbsp; <span class="text-orange">Enterprise Architect</span></a>
      </div>
      <ul>
        <li><a href="//carlosortiz.co/me">Sobre Mi</a></li>
        <li><a href="//carlosortiz.co/contacto">Contacto</a></li>
      </ul>
    </div>
  </div>
</nav>
